<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/scss/home.scss">
        <%- style %>
    </head>
    <body>
        <%- include('_header'); %>

        <%- body %>

        <%- script%>
    </body>
</html>